body{
    background-image:url("smile.jpg");
    background-position-y: -20%;
    background-size:180px;
    
}

my-table {
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: inset 0 0 8px #E6E6E6;
    border-collapse: separate #E6E6E6;
    border: 1px solid #ffffff;
}
  
  .my-table th, .my-table td {
    padding: 5px;
}
