body{
    background-image:url("smlile.jpg");
    background-position-y: -20%;
    background-size:180px;
    
}
h2{
    color:rgb(80, 43, 17)
}

h1{
    position:fixed;
    left: 250px;
    top: 30px;
}
h3{
    position:fixed;
    left: 545px;
    top: 300px;  
}
